div(class="navbar navbar-default navbar-fixed-top container-fluid menu" data-hook="menu")
  span(class="icon")
    span(class="ball")
    span(class="mag-glass")
  input(type="text" placeholder="choose" data-hook="nameFilter" maxlength="12")
  a(class="menu-toggle") toggle
  p(class="statement" data-hook="statement") A nice way to look at Pokemon
