div(class="navbar navbar-default navbar-fixed-top container-fluid")
  div(class="menu" data-hook="menu")
    a(class="menu-toggle") toggle
    input(type="text" placeholder="choose" data-hook="nameFilter" maxlength="12")
    p(class="statement" data-hook="statement") A nice way to look at Pokemon
